@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<FrontStoreWebUI.Models.PurchaseOrderVM>


<h1> Order History </h1>
<dt>

    <a class="btn btn-success text-white" asp-controller="PurchaseOrder" asp-action="Create">Log Order</a>
</dt>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>OrderId</th>
                <th>StoreId</th>
                <th>CustomerId</th>
                <th>TotalPrice</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>


        <tbody>
            @foreach (var i in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => i.OrderId)</td>
                <td>@Html.DisplayFor(modelItem => i.StoreId)</td>
                <td>@Html.DisplayFor(modelItem => i.CustomerId)</td>
                <td>@Html.DisplayFor(modelItem => i.TotalPrice)</td>
                <td>@Html.DisplayFor(modelItem => i.PurchaseDate)</td>


                <td>
                    <button class="btn btn-danger">@Html.ActionLink("Delete", "Delete", "PurchaseOrder", new { p_id = i.OrderId }, new { @style = "color: white;" })</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
